# Scalar Types
Scalar objects are indivisible. Python has four types of scalar objects: *integers*, *floats*, *boolean*, and *none*.

In [1]:
type("Hello, Python 101!") # Type of "Hello, Python 101!"

str

### Integers
<code>int</code> denotes integers. Integers can be positive or negative.

### Floats
<code>float</code> denotes floating-point numbers (or real numbers), which include integers and decimals.

In [5]:
type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

Learn more about the specifics of floats for your runtime environment by checking the value of <code>sys.float_info</code>. It will also tell you what's the largest and smallest number that can be represented with them.

In [8]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Boolean

<code>bool</code> denotes Boolean values <code> True</code> or <code>False</code>.

### None

# Type Casting

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>

### Convertion between integers and floats

<p>Casting from interger into float does not change the value, but casting from float to integer will lose information because <strong>only the integral part is retained and the fractional part is discarded</strong>.</p>

In [9]:
float(2)

2.0

In [1]:
int(3.99)

3

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [11]:
int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [12]:
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [13]:
float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [14]:
str(1)

'1'

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [15]:
str(1.2)

'1.2'

### Conversion between booleans and numbers

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>.

In [17]:
int(True)

1

In [18]:
bool(1.0)

True

In [19]:
bool(0)

False

In [20]:
float(True)

1.0