## Types of objects in Python

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<p>Use the built-in <code>type()</code> function to check the type of an object or expression.</p>

In [1]:
type("Hello, Python 101!") # Type of "Hello, Python 101!"

str

### Integers

An *integer* can be positive or negative.

In [2]:
type(-1) # Print the type of -1

int

### Floats

Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases.

In [5]:
type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

Learn more about the specifics of floats for your runtime environment by checking the value of <code>sys.float_info</code>. It will also tell you what's the largest and smallest number that can be represented with them.

In [8]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Boolean

An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>. When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>.

In [ ]:
type(True)

bool

### String

A *string* is an **immutable** data type defined with quotation marks (double or single). Strings are sequences of digits, characters, and spaces.
Elements in a string can be accessed using indexes (positive or negative).

#### Slicing a string
Strings can be sliced using <code>string_name[start:end]</code> in which <code>start</code> (inclusive) and <code>end</code> (exclusive) indicate the index positions in the sliced string.

In [2]:
name = "Michael Jackson"
name[0:4]

'Mich'

We can also input a stide value using <code>string_name[start:end:step]</code> to select characters at every *nth* position.

In [3]:
name[::2]

'McalJcsn'

#### Manipulating a string
Strings are sequences and, therefore, can apply functions that work on lists and tuples. Strings also have snother set of functions that just work on strings.

1. Use <code>.upper()</code> and <code>.lower()</code> to change the characters in a string into upper or lower cases.

2. Use <code>.replace(old, new, count)</code> to replace a segaement if a string. The <code>count</code> parameter indicated the number of times the segament will be replace. If not specified, all occurrences will be replaced. If the substring to replace is unfound, the original string is returned unchanged.

3. Use <code>.find(substring)</code> to find a substring. The output is the first index of the substring in the original string.

In [4]:
name.find('el')

5

#### Escape sequences
Back slashes represent the begining of escape sequences. Escape sequences represent strings that are difficult to input.
1. <code>/n</code> represents a new line.

2. <code>/t</code> represents a tab.

#### RegEx
RegEx (short for Regular Expression) is a tool for mataching and handling strings. Python provides a built-in module <code>re</code> which allows you to work with regular expressions.

The <code>.search()</code> function searches for specified patterns in a string.

In [5]:
import re

string1 = "Michael Jackson is the best"

pattern = r"Jackson" # Define the pattern to search for
result = re.search(pattern, string1)

if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
|\d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\w\w\w\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

The <code>.findall(pattern, string)</code> function finds all occurrences of a specified pattern within a string. The ourput is a list.

In [8]:
pattern = r"\W"
text = "Hello, world!"
matches = re.findall(pattern, text)
print("Matches:", matches)

Matches: [',', ' ', '!']

The <code>.split(pattern, string)</code> function splits a string into a list of substrings based on a specified pattern.

In [10]:
string2 = "Michael Jackson was a singer and known as the 'King of Pop'"
split_array = re.split("\s", string2)

print(split_array)

['Michael', 'Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Coppe\AppData\Local\Temp\ipykernel_8656\3187597792.py:2: SyntaxWarning: invalid escape sequence '\s'
  split_array = re.split("\s", string2)

The <code>.sub(old, new, string)</code> to replace all occurrences of a segament within a string with a specified sequence.

In [11]:
pattern = r'King of Pop'
replacement = 'legend'

new_string = re.sub(pattern, replacement, string2, flags=re.IGNORECASE)
print(new_string)

Michael Jackson was a singer and known as the 'legend'

## Type Casting

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>

### Convertion between integers and floats

<p>Casting from interger into float does not change the value, but casting from float to integer will lose information because <strong>only the integral part is retained and the fractional part is discarded</strong>.</p>

In [9]:
float(2)

2.0

In [1]:
int(3.99)

3

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [11]:
int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [12]:
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [13]:
float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [14]:
str(1)

'1'

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [15]:
str(1.2)

'1.2'

### Conversion between booleans and numbers

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>.

In [17]:
int(True)

1

In [18]:
bool(1.0)

True

In [19]:
bool(0)

False

In [20]:
float(True)

1.0